.contacts
  background-color: $black-two
  padding-top: 85px
  padding-bottom: 75px
  &__block
    +r(767)
      padding-bottom: 30px
    &__img
      width: 60px
      margin: 0 auto
      img
        width: 60px
        height: 60px
    &__text
      p
        font-size: 12px
        letter-spacing: 0.7px
        color: $warm-grey-two
        padding-top: 5px
      a
        font-family: 'Literaturnaya'
        font-size: 22px
        font-weight: bold
        line-height: 1.36
        letter-spacing: 1px
        color: $very-light-brown
        padding-top: 10px
        display: inline-block
        transition: all 0.3s
        &:hover
          color: $moss