.description
  background: url('../img/description.jpg') no-repeat
  background-size: cover
  position: relative
  background-attachment: fixed
  &__text
    padding-bottom: 140px
    p
      font-size: 22px
      line-height: 1.36
      letter-spacing: 1.1px
      color: $light-khaki
      padding-bottom: 30px