.header
  padding: 20px 30px
  position: absolute
  top: 0
  width: 100%
  z-index: 10
  &__block
    display: inline-flex
    align-items: center
    i
      display: block
      padding-right: 70px
      font-size: 20px
    &__calculator
      display: inline-flex
      align-items: center
      font-family: 'Literaturnaya'
      font-size: 26px
      color: $greyish-brown-two
      img
        position: relative
        top: -4px
        padding-right: 20px
    &__phone
      font-family: 'Literaturnaya'
      font-size: 26px
      font-weight: bold
      color: $greyish-brown-two
      display: inline-flex
      align-items: center
      img
        position: relative
        top: -2px
        padding-right: 20px