.header
  padding: 20px 30px
  position: absolute
  top: 0
  width: 100%
  z-index: 89
  height: 80px
  transition: all 1.5s
  &.sticked
    position: fixed
    background: rgba(255, 255, 255, 0.5)
  &__logo
    position: absolute
    top: 100px
    left: 50%
    width: 150px
    transform: translateX(-50%)
    transition: all 1.5s
    img
      width: 100%
      transition: all 1.5s
  &__block
    display: inline-flex
    align-items: center
    margin-top: -50px
    a
      &:hover
        color: $moss
    i
      display: block
      padding-right: 70px
      font-size: 20px
    &__calculator
      display: inline-flex
      align-items: center
      font-family: 'Literaturnaya'
      font-size: 26px
      color: $greyish-brown-two
      margin-top: -10px
      padding-left: 60px
      +r(767)
        margin-left: -15px
      +r(400)
        margin-left: -25px
      img
        position: relative
        top: -4px
        padding-right: 20px
        height: 30px
      span
        +r(1024)
          display: none
    &__phone
      font-family: 'Literaturnaya'
      font-size: 26px
      font-weight: bold
      color: $greyish-brown-two
      display: inline-flex
      align-items: center
      margin-top: 5px
      img
        position: relative
        top: -2px
        padding-right: 20px
        height: 35px
      span
        +r(1024)
          display: none