*
	padding: 0
	margin: 0
html, body
	font-family: "Fira Sans"
	overflow-x: hidden
	background: url('../img/texture.png')
	margin-top: -20px
.container--two
	box-sizing: border-box
	width: 100% !important
	height: 100%
	max-width: 1070px
	position: relative
	margin: 0 auto
.container
	box-sizing: border-box
	width: 100% !important
	height: 100%
	max-width: 945px
	position: relative
	margin: 0 auto
.row
	height: 100%
a
	font-size: 16px
	text-decoration: none
	transition: all 0.3s
	color: $black
p
	font-size: 26px
h1, h2
	font-family: 'Literaturnaya'
.btn
	padding: 15px 45px
	font-family: 'Literaturnaya'
	font-size: 16px
	font-weight: bold
	letter-spacing: 0.9px
	color: $greyish-brown
	border-radius: 6px
	background-color: $sand
	box-shadow: 0 2px 0 0 $moss
	border-bottom: none
	display: inline-block
	text-transform: uppercase
	text-align: center
.separation
	width: 100%
	position: relative
	z-index: 10
	img
		width: 100%
		margin-top: -2px

.heading
	h2, h3
		font-family: 'Literaturnaya'
		font-size: 44px
		font-weight: bold
		line-height: 1.14
		letter-spacing: 1.8px
		color: $greyish-brown
		text-shadow: 2px 2px 0 $very-light-brown
		padding-top: 45px
		text-transform: uppercase
	p
		font-family: 'Fira Sans'
		font-size: 26px
		line-height: 1.54
		letter-spacing: 1px
		color: $greyish-brown
		padding-top: 45px
		padding-bottom: 40px
		span
			font-weight: bold
	&--conditions
		h2
			padding-top: 0px
	&--partners
		h2
			padding-bottom: 65px
			padding-top: 0px
	&--description
		h2
			color: $white-two
			text-shadow: 2px 2px 0 #45402c
		h3
			padding-top: 0
			color: $white-two
			text-shadow: 2px 2px 0 #45402c
.info
	&__block
		p
			padding-top: 15px
			font-size: 22px
			line-height: 1.36
			letter-spacing: 0.5px
			color: $greyish-brown
			&:nth-child(3)
				font-size: 16px
				line-height: 1.25
				color: $warm-grey
				padding-top: 0
.advantages
	&__block
		width: 100%
		height: 100%
		position: relative
		img
			position: absolute
		&--regulation
			img
				left: 0
				bottom: 0px
		&--credit
			img
				left: -60%
				bottom: -19px
		&__text
			padding-top: 110px
			padding-bottom: 150px
			h2
				font-size: 44px
				font-weight: bold
				letter-spacing: 1.8px
				text-align: left
				color: $white-two
				text-shadow: 2px 2px 0 #45402c
				max-width: 440px
				text-transform: uppercase
				padding-bottom: 40px
			p
				font-size: 16px
				line-height: 1.25
				letter-spacing: 0.9px
				color: $light-khaki
				padding-bottom: 35px
			&--documentation
				h2
					max-width: 570px
				p
					padding-bottom: 0
					line-height: 8px
					&:nth-child(6)
						padding-bottom: 45px
					&:nth-child(2)
						line-height: 1.25
form
	input
		max-width: 165px
		text-align: center
		border-bottom: 2px solid $lichen
		margin-right: 30px
		font-size: 20px
		letter-spacing: 0.5px
		color: $warm-grey
		background: transparent
	input[type="submit"]
		width: auto
		max-width: 100%
		background-color: $sand
	input[type="checkbox"]
		display: none
	label
		display: flex
		justify-content: center
		align-items: center
		padding-top: 40px
		font-size: 12px
		letter-spacing: 0.7px
		color: $warm-grey-two
		padding-bottom: 40px
	input[type="checkbox"] + label::before
		content: ''
		font-family: 'FontAwesome'
		width: 16px
		height: 16px
		border: 1px solid $lichen
		border-radius: 3px
		display: flex
		justify-content: center
		align-items: center
		position: relative
		right: 20px
		color: $lichen
	input[type="checkbox"]:checked + label:before
		content: '\f00c'