*
	padding: 0
	margin: 0
html, body
	font-family: "Fira Sans"
	overflow-x: hidden
	background: url('../img/texture.jpg')
	margin-top: -20px
.container--two
	box-sizing: border-box
	width: 100% !important
	height: 100%
	max-width: 1070px
	position: relative
	margin: 0 auto
	+r(1024)
		padding: 0 15px
.container
	box-sizing: border-box
	width: 100% !important
	height: 100%
	max-width: 945px
	margin: 0 auto
	position: relative
	z-index: 3
	+r(1024)
		padding: 0 15px
.row
	height: 100%
a
	font-size: 16px
	text-decoration: none
	transition: all 0.3s
	color: $black
p
	font-size: 26px
h1, h2
	font-family: 'Literaturnaya'
.menu-open
	position: fixed
	top: 25px
	left: 30px
	width: 40px
	height: 30px
	padding-top: 15px
	z-index: 9999
	+r(767)
		left: 20px
	&:hover
		span
			background: $moss
			&:before
				background: $moss
			&:after
				background: $moss
	span
		width: 30px
		height: 2px
		background: $black
		display: block
		transition: color 0.3s
		transition: width 0.5s ease
		border-radius: 20%
		&:before
			content: ''
			position: absolute
			left: 0
			width: 25px
			height: 2px
			background: $black
			transition: color 0.3s
			transition: transform 0.5s
			top: 6px
			border-radius: 20%
		&:after
			content: ''
			position: absolute
			left: 0
			bottom: 4px
			width: 15px
			height: 2px
			background: $black
			transition: color 0.3s
			transition: transform 0.5s
			border-radius: 20%
	&.active
		span
			width: 0
			&:before
				width: 30px
				transform: rotate(225deg)
				top: 14px
			&:after
				transform: rotate(315deg)
				width: 30px
				bottom: 14px
.btn
	padding: 15px 45px
	padding-top: 21px
	font-family: 'Literaturnaya'
	font-size: 16px !important
	font-weight: bold
	letter-spacing: 0.3px
	color: $greyish-brown
	border-radius: 6px
	background-color: $sand
	box-shadow: 0 2px 0 0 $moss
	border-bottom: none
	display: inline-block
	text-transform: uppercase
	text-align: center
	transition: all 0.3s
	-webkit-appearance: none
	&:hover
		background-color: $dull-yellow !important
		+r(767)
			padding: 15px 0px
			padding-top: 18px
			width: 100%
.separation
	width: 100%
	position: relative
	z-index: 10
	img
		width: 100%
		+r(1024)
			width: auto
.heading
	padding-bottom: 80px
	h2, h3
		font-family: 'Literaturnaya'
		font-size: 44px
		font-weight: bold
		line-height: 1.14
		letter-spacing: 1.8px
		color: $greyish-brown
		text-shadow: 2px 2px 0 $very-light-brown
		padding-top: 110px
		text-transform: uppercase
		+r(767)
			font-size: 26px
	p
		font-family: 'Fira Sans'
		font-size: 26px
		line-height: 1.54
		letter-spacing: 1px
		color: $greyish-brown
		padding-top: 30px
		+r(767)
			font-size: 20px
			padding-bottom: 0
		span
			font-weight: bold
	&--conditions
		h2
			padding-top: 65px
	&--calculator
		padding-bottom: 120px
	&--partners
		h2
			padding-top: 80px
	&--description
		h2
			color: $white-two
			padding-top: 130px
			text-shadow: 2px 2px 0 #45402c
		h3
			padding-top: 0
			color: $white-two
			text-shadow: 2px 2px 0 #45402c
	&--bid-1
		p
			padding-top: 0
			padding-bottom: 0px
			max-width: 550px
			margin: 0 auto
			font-weight: 300
			span
				font-weight: 500
			i
				font-style: normal
				font-weight: 500
			b
				font-weight: 300
				i
					font-style: normal
					padding-left: 5px
.info
	&__block
		padding-bottom: 70px
		p
			padding-top: 15px
			font-size: 22px
			line-height: 1.36
			letter-spacing: 0.5px
			color: $greyish-brown
			&:nth-child(3)
				font-size: 16px
				line-height: 1.25
				color: $warm-grey
				padding-top: 7px
		img
			width: 95px
.advantages
	&__block
		width: 100%
		height: 100%
		position: relative
		img
			position: absolute
			z-index: 8
			height: 100%
			+r(1024)
				position: relative
				width: 70%
				bottom: -4px
				height: auto
			+r(767)
				width: 100%
		&--regulation
			img
				left: 0
				bottom: 0
		&--credit
			img
				left: -60%
				bottom: 0px
				+r(1024)
					left: 0px
				+r(767)
					width: 100%
					left: -80px
		&__text
			padding-top: 150px
			padding-bottom: 190px
			position: relative
			z-index: 9
			max-width: 460px
			+r(1024)
				padding: 70px 65px
				max-width: 600px
			+r(600)
				padding: 60px 15px
			h2
				font-size: 44px
				font-weight: bold
				letter-spacing: 1.8px
				text-align: left
				color: $white-two
				text-shadow: 2px 2px 0 #45402c
				max-width: 440px
				text-transform: uppercase
				padding-bottom: 40px
				+r(767)
					font-size: 24px
			p
				font-size: 16px
				line-height: 1.25
				letter-spacing: 0.9px
				color: $light-khaki
				padding-bottom: 35px
				font-weight: 300
			&--documentation
				h2
					max-width: 570px
				p
					padding-bottom: 0
					line-height: 1.25
					&:nth-child(6)
						padding-bottom: 45px
					&:nth-child(2)
						padding-bottom: 10px
.form
	display: block
	&__name, &__tel, &__coins
		display: inline-block
		position: relative
		margin-right: 20px
		width: 185px
		+r(767)
			width: 100%
			margin-bottom: 20px
		input
			width: 100%
			text-align: center
			border-bottom: 2px solid $lichen
			font-size: 20px
			letter-spacing: 0.5px
			color: $warm-grey
			background: transparent
			transition: all 0.3s
			padding: 10px 0
			&:focus
				border-bottom: 2px solid $sand
			&:valid + label
				transform: translate(-50%, 40px)
				font-size: 15px
				color: $warm-grey
			&:focus + label
				transform: translate(-50%, 40px)
				font-size: 15px
				color: $warm-grey
		label
			position: absolute
			left: 50%
			transform: translateX(-50%)
			top: 10px
			font-size: 20px
			color: $sand
			padding: 0
			transition: all 0.3s
	&--step
		padding-bottom: 60px
	&--intro
		padding-top: 40px
	&__coins
		input:valid + label
			transform: translateX(-50%)
			font-size: 20px
			color: $sand
	&__checkbox
		input
			display: none
			& + label::before
				content: ''
				font-family: 'FontAwesome'
				width: 16px
				height: 16px
				border: 1px solid $lichen
				border-radius: 3px
				display: flex
				justify-content: center
				align-items: center
				position: relative
				text-align: center
				right: 10px
				color: $lichen
				+r(1024)
					position: absolute
					left: -5px
			&:checked + label:before
				content: '\f00c'
				align-items: center
		label
			display: inline-flex
			justify-content: center
			align-items: center
			padding-top: 40px
			font-size: 12px
			letter-spacing: 0.7px
			color: $warm-grey-two
			padding-bottom: 40px
			cursor: pointer
			position: relative
			+r(1024)
				display: inline-block
				text-align: start
				padding-left: 20px
			a
				font-size: 12px
				letter-spacing: 0.7px
				color: $warm-grey-two
				padding-bottom: 40px
				margin-left: 4px
				border-bottom: 1px solid $warm-grey-two
				padding-bottom: 0
			&:hover
				color: $moss
	input[type="number"]
		-moz-appearance: textfield
	input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
		-webkit-appearance: none
		margin: 0
	input[type="submit"]
		width: auto
		max-width: 100%
		background-color: $sand
		margin-right: 0
		+r(1024)
			width: 80%
			margin-top: 20px
		+r(767)
			width: 100%
	&--application
		label
			padding-bottom: 0
	&--pop-up
		display: flex
		flex-direction: column
		align-items: center
		max-width: 100%
		.form__name, .form__tel, .form__coins
			width: 265px
			margin-right: 0
			margin-bottom: 10px
			+r(767)
				width: 100%
		input[type="submit"]
			width: 265px
			margin-top: 20px
			+r(1024)
				width: 265px
		.form__checkbox
			padding-top: 30px
			label
				width: 265px
				padding-left: 25px
				display: inline-block
				text-align: left
				padding-top: 10px
				+r(767)
					width: 100%
			input + label::before
				position: absolute
				left: -5px