footer.footer
  .row.middle-xs
    .col-sm-4.col-xs-12.first-sm.last-xs
      .footer__block
        .footer__block__logo
          a(href="#") 
            img(src="img/logo-small.svg", alt="")
          p 2007-2018 © Кредит 24 Онлайн.<br> Кредит под залог любой недвижимости.
    .col-sm-4.col-xs-12.first-xs.center-xs
      .footer__block
        .footer__block__social
          a(href="#")
            +icon('vk-copy')
          a(href="#")
            +icon('fb-copy')
          a(href="#")
            +icon('instagram-copy-2')
    .col-sm-4.col-xs-12.end-xs
      .footer__block
        .footer__block__done
          a(href="https://bakin.ru/") Сайт сделали<br>в студии Бакина
          +icon('group-9')
