//BEGIN header
header.header
  .row.between-xs
    .col-xs-6
      .header__block
        a(href="#")
          i.icon.icon-menu-icon
        a(href="#").header__block__calculator
          img(src="img/calc-icon.svg", alt="")
          | Кредитный калькулятор
    .col-xs-6.end-xs
      .header__block
        a(href="tel:84957224722").header__block__phone
          img(src="img/phone-icon.svg", alt="")
          | 8 (495) 722-4-722
//END header
