//BEGIN header
header.header
  .header__logo#box
    img(src="img/logo.svg")
  .row.between-xs
    .col-xs-6
      .header__block
        a(href="#menu" data-pop).menu-open
          i.icon.icon-menu-icon
        a(href="#").header__block__calculator
          img(src="img/calc-icon.svg", alt="")
          span Кредитный калькулятор
    .col-xs-6.end-xs
      .header__block
        a(href="tel:84957224722").header__block__phone
          img(src="img/phone-icon.svg", alt="")
          span 8 (495) 722-4-722
//END header
