@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-fb-copy: "\EA01";
$icon-group-9: "\EA02";
$icon-instagram-copy-2: "\EA03";
$icon-logo-small: "\EA04";
$icon-menu-icon: "\EA05";
$icon-regulation2: "\EA06";
$icon-rouble: "\EA07";
$icon-vk-copy: "\EA08";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-fb-copy:before { content: $icon-fb-copy; }
.icon-group-9:before { content: $icon-group-9; }
.icon-instagram-copy-2:before { content: $icon-instagram-copy-2; }
.icon-logo-small:before { content: $icon-logo-small; }
.icon-menu-icon:before { content: $icon-menu-icon; }
.icon-regulation2:before { content: $icon-regulation2; }
.icon-rouble:before { content: $icon-rouble; }
.icon-vk-copy:before { content: $icon-vk-copy; }
