.icon-fb-copy {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-group-9 {
  width: 1.77em;
  height: 1em;
  fill: none;
}
.icon-instagram-copy-2 {
  width: 1em;
  height: 1em;
  fill: #D5CBA4;
}
.icon-logo-small {
  width: 0.97em;
  height: 1em;
  fill: #D5CBA4;
}
.icon-menu-icon {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
.icon-vk-copy {
  width: 1em;
  height: 1em;
  fill: none;
}
