.icon-1 {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-2 {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-24hour {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-3 {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-4 {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-bag {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-certificate {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-chat {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-city {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-coins {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-cycle {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-fb-copy {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-group-9 {
  width: 1.77em;
  height: 1em;
  fill: none;
}
.icon-home {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-horse {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-instagram-copy-2 {
  width: 1em;
  height: 1em;
  fill: #D5CBA4;
}
.icon-letter {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-location {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-logo-small {
  width: 0.97em;
  height: 1em;
  fill: #D5CBA4;
}
.icon-logo {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-menu-icon {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
.icon-peple {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-rouble {
  width: 0.56em;
  height: 1em;
  fill: #3A3628;
}
.icon-rub {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-store {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-talk {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-time {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-treaty {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-villa {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-vk-copy {
  width: 1em;
  height: 1em;
  fill: none;
}
