section.application
  .container
    .row.center-xs
      .col-xs-12
        .heading.heading--application
          h2 Оставьте заявку на кредит
        form.form.form--application
          input(type="text" name="name" placeholder="Имя")
          input(type="tel" name="phone" placeholder="Телефон")
          input(type="number" name="coins" placeholder="Сумма")
          input(type="submit" value="Отправить заявку").btn
          input(type="checkbox" id="checkbox-3")
          label(for="checkbox-3") Нажимая на кнопку «Отправить», я даю своё согласие на обработку персональных данных и принимаю 
            a(href="#") условия соглашения.