section.benefit.info
  .container
    .row
      .col-xs-12.center-xs
        .heading
          h2 Выгодное сотрудничество
  .container--two
    .row.center-xs
      .col-xs-3
        .info__block
          img(src="img/benefit/benefit-1.png" srcset="img/benefit/benefit-1@2x.png 2x, img/benefit/benefit-1@3x.png 3x")
          p Бесплатные онлайн-консультации
      .col-xs-3
        .info__block
          img(src="img/benefit/benefit-2.png" srcset="img/benefit/benefit-2@2x.png 2x, img/benefit/benefit-2@3x.png 3x")
          p Отсутствие предоплат за услуги
      .col-xs-3
        .info__block
          img(src="img/benefit/benefit-3.png" srcset="img/benefit/benefit-3@2x.png 2x, img/benefit/benefit-3@3x.png 3x")
          p Экономим Ваше время и деньги
      .col-xs-3
        .info__block
          img(src="img/benefit/benefit-4.png" srcset="img/benefit/benefit-4@2x.png 2x, img/benefit/benefit-4@3x.png 3x")
          p Опыт решения нестандартных задач
      .col-xs-3
        .info__block
          img(src="img/benefit/benefit-5.png" srcset="img/benefit/benefit-5@2x.png 2x, img/benefit/benefit-5@3x.png 3x")
          p Положительные отзывы на рынке
      .col-xs-3
        .info__block
          img(src="img/benefit/benefit-6.png" srcset="img/benefit/benefit-6@2x.png 2x, img/benefit/benefit-6@3x.png 3x")
          p Индивидуальный подход к клиенту
      .col-xs-3
        .info__block
          img(src="img/benefit/benefit-3.png" srcset="img/benefit/benefit-3@2x.png 2x, img/benefit/benefit-3@3x.png 3x")
          p Отсутствие скрытых платежей
      .col-xs-3
        .info__block
          img(src="img/benefit/benefit-8.png" srcset="img/benefit/benefit-8@2x.png 2x, img/benefit/benefit-8@3x.png 3x")
          p Выдаем аванс в день подписания
.separation
  img(src="img/separation.png" srcset="img/separation@2x.png 2x, img/separation@3x.png 3x")
  img(src="img/separation-two.png" srcset="img/separation-two@2x.png 2x, img/separation-two@3x.png 3x")