section.benefit.info
  .container
    .row
      .col-xs-12.center-xs
        .heading
          h2 Выгодное сотрудничество
  .container--two
    .row.center-xs
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/benefit/benefit-1.svg")
          p Бесплатные онлайн-консультации
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/benefit/benefit-2.svg")
          p Отсутствие предоплат за услуги
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/benefit/benefit-3.svg")
          p Экономим Ваше время и деньги
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/benefit/benefit-4.svg")
          p Опыт решения нестандартных задач
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/benefit/benefit-5.svg")
          p Положительные отзывы на рынке
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/benefit/benefit-6.svg")
          p Индивидуальный подход к клиенту
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/benefit/benefit-3.svg")
          p Отсутствие скрытых платежей
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/benefit/benefit-8.svg")
          p Выдаем аванс в день подписания
.separation
  img(src="img/separation.png" srcset="img/separation@2x.png 2x, img/separation@3x.png 3x")
  img(src="img/separation-two.png" srcset="img/separation-two@2x.png 2x, img/separation-two@3x.png 3x")