section.calculator#calc
  .container
    form
      .row.top-xs
        .col-xs-12.center-xs
          .heading.heading--calculator
            h2 Кредитный калькулятор
        .col-md-6.col-sm-7.col-xs-12
          .calculator__block
            .calculator__block__range
              .row.middle-xs
                .col-xs-6.start-xs
                  p.range__name Нужная сумма
                .col-xs-6.end-xs
                  span.range__value.sum__res.block-flex-xs
                    b 3 750 000
                    i Р
                .col-xs-12
                  input(type="range" min="500000" max="15000000" step="100000" value="3750000").sum
                .col-xs-6
                  span.range__min 500 000 Р
                .col-xs-6.end-xs
                  span.range__max.block-flex-xs 15 000 000 Р
            .calculator__block__range
              .row.middle-xs
                .col-xs-6.start-xs
                  p.range__name Срок кредита
                .col-xs-6.end-xs
                  span.range__value.term__res.block-flex-xs
                    b 18
                    i лет
                .col-xs-12
                  input(type="range" min="6" max="360" step="6" value="216").term
                .col-xs-6
                  span.range__min 6 месяцев
                .col-xs-6.end-xs
                  span.range__max.block-flex-xs 30 лет
            .calculator__block__range
              .row.middle-xs
                .col-xs-6.start-xs
                  p.range__name Процентная ставка
                .col-xs-6.end-xs
                  span.range__value.percent__res.block-flex-xs
                    b 13
                    i %
                .col-xs-12
                  input(type="range" min="10" max="35" step="1" value="13").percent
                .col-xs-6
                  span.range__min 10 %
                .col-xs-6.end-xs
                  span.range__max.block-flex-xs 35 %
        .col-md-5.col-sm-4.col-sm-offset-1.col-xs-12
          .calculator__block
            .calculator__block__pay
              p Ежемесячный платёж:
              span.payment 51 890
              +icon('rouble')
              a.btn.btn--calculator(href="#support-1" data-pop) Отправить заявку
              span Платёж аннуитетный, проценты начисляются на остаток задолженности, сумма долга уменьшается с каждым платежом.
.separation
  img(src="img/separation.png")