section.calculator
  .container
    .row
      .col-xs-12.center-xs
        .heading
          h2 Кредитный калькулятор
      .col-xs-8

      .col-xs-4
.separation
  img(src="img/separation.png" srcset="img/separation@2x.png 2x, img/separation@3x.png 3x")
  img(src="img/separation-two.png" srcset="img/separation-two@2x.png 2x, img/separation-two@3x.png 3x")