section.conditions.info
  .container
    .row.center-xs
      .col-xs-12
        .heading.heading--conditions
          h2 Условия кредитования
          p Предоставляем кредиты до<span> 15 000 000 </span>рублей на срок до <span>20 лет</span>. Процентная ставка от <span>10%</span> годовых. При этом Ваша собственность защищается законом по договору залога.
  .container--two
    .row.center-xs
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/conditions/conditions-1.png" srcset="img/conditions/conditions-1@2x.png 2x, img/conditions/conditions-1@3x.png 3x")
          p Без подтверждения доходов
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/conditions/conditions-2.png" srcset="img/conditions/conditions-2@2x.png 2x, img/conditions/conditions-2@3x.png 3x")
          p С любой кредитной историей
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/conditions/conditions-3.png" srcset="img/conditions/conditions-3@2x.png 2x, img/conditions/conditions-3@3x.png 3x")
          p Решение за 15 минут
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/conditions/conditions-4.png" srcset="img/conditions/conditions-4@2x.png 2x, img/conditions/conditions-4@3x.png 3x")
          p Вы остаётесь собственником