section.conditions.info#conditions
  .container
    .row.center-xs
      .col-xs-12
        .heading.heading--conditions
          h2 Условия кредитования
          p Предоставляем кредиты до<span> 15 000 000 </span>рублей на срок до <span>20 лет</span>. Процентная ставка от <span>10%</span> годовых. При этом Ваша собственность защищается законом по договору залога.
  .container--two
    .row.center-xs
      .col-md-3.col-sm-6.col-xs-12
        .info__block.wow.slideInUp(data-wow-offset="70" data-wow-duration=" 1s")
          img(src="img/conditions/conditions-1.svg")
          p Без подтверждения доходов
      .col-md-3.col-sm-6.col-xs-12
        .info__block.wow.slideInUp(data-wow-offset="70" data-wow-duration=" 1s")
          img(src="img/conditions/conditions-2.svg")
          p С любой кредитной историей
      .col-md-3.col-sm-6.col-xs-12
        .info__block.wow.slideInUp(data-wow-offset="70" data-wow-duration=" 1s")
          img(src="img/conditions/conditions-3.svg")
          p Решение за<br> 15 минут
      .col-md-3.col-sm-6.col-xs-12
        .info__block.wow.slideInUp(data-wow-offset="70" data-wow-duration=" 1s")
          img(src="img/conditions/conditions-4.svg")
          p Вы остаётесь собственником