section.contacts
  .container--two
    .row.center-xs
      .col-xs-4
        .contacts__block
          .contacts__block__img
            img(src="img/contacts/contacts-1.png" srcset="img/contacts/contacts-1@2x.png 2x, img/contacts/contacts-1@3x.png 3x")
          .contacts__block__text
            p Телефон
            a(href="tel:88887776655") 8 (888) 777-66-55
      .col-xs-4
        .contacts__block
          .contacts__block__img
            img(src="img/contacts/contacts-2.png" srcset="img/contacts/contacts-2@2x.png 2x, img/contacts/contacts-2@3x.png 3x")
          .contacts__block__text
            p Адрес
            a(href="#") Москва, Студенецкий переулок д.3
      .col-xs-4
        .contacts__block
          .contacts__block__img
            img(src="img/contacts/contacts-3.png" srcset="img/contacts/contacts-3@2x.png 2x, img/contacts/contacts-3@3x.png 3x")
          .contacts__block__text
            p Е-mail
            a(href="mailto:credit@ok24.online") credit@ok24.online