section.contacts
  .container--two
    .row.center-xs
      .col-sm-4.col-xs-12
        .contacts__block
          .contacts__block__img
            img(src="img/contacts/contacts-1.svg")
          .contacts__block__text
            p Телефон
            a(href="tel:88887776655") 8 (888) 777-66-55
      .col-sm-4.col-xs-12
        .contacts__block
          .contacts__block__img
            img(src="img/contacts/contacts-2.svg")
          .contacts__block__text
            p Адрес
            a(href="#") Москва, Студенецкий переулок д.3
      .col-sm-4.col-xs-12
        .contacts__block
          .contacts__block__img
            img(src="img/contacts/contacts-3.svg")
          .contacts__block__text
            p Е-mail
            a(href="mailto:credit@ok24.online") credit@ok24.online