section.credit.advantages
  .container
    .row
      .col-md-6.col-xs-12
        .advantages__block
          .advantages__block__text
            h2 Кредит без подтверждения дохода
            p Часто бывает так, что банки отказывают в выдаче кредита из-за отсутствия документов, подтверждающих доход. С нашей помощью эта проблема обойдёт Вас стороной. 
            a(href="#support-2" data-pop).btn.btn--bid-2 Обратиться в поддержку
      .col-md-6.col-xs-12
        .advantages__block.advantages__block--credit
          img(src="img/advantages/credit.png" srcset="img/advantages/credit@2x.png 2x, img/advantages/credit@3x.png 3x" alt="")