section.credit.advantages
  #credit(data-invert-y="false" data-invert-x="false" relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/leak1.svg", alt="")
  #credit2(relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/leak3.svg", alt="")
  #credit3(relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/leak2.svg", alt="")
  #credit4(data-invert-y="false" data-invert-x="false" relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/leak4.svg", alt="")
  .container
    .row
      .col-md-6.col-xs-12
        .advantages__block
          .advantages__block__text
            h2 Кредит без подтверждения дохода
            p Часто бывает так, что банки отказывают в выдаче кредита из-за отсутствия документов, подтверждающих доход. С нашей помощью эта проблема обойдёт Вас стороной. 
            a(href="#consultant" data-pop).btn Обратиться в поддержку
      .col-md-6.col-xs-12
        .advantages__block.advantages__block--credit.wow.slideInUp(data-wow-offset="70" data-wow-duration=" 1s")
          img(src="img/advantages/credit.png" srcset="img/advantages/credit@2x.png 2x, img/advantages/credit@3x.png 3x" alt="")