section.deposit.info
  .container
    .row.center-xs
      .col-xs-12
        .heading.heading--conditions
          h2 Кредит под залог любой недвижимости
          p Суммы до<span> 70% </span>от оценки с авансом <span>в день подписания</span> договора. Мы всегда поможем, даже если прописаны дети и пенсионеры, наложен арест или нужна сумма более 15 млн рублей.
  .container--two
    .row.center-xs
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/deposit/deposit-1.png" srcset="img/deposit/deposit-1@2x.png 2x, img/deposit/deposit-1@3x.png 3x")
          p Под залог <br> квартиры
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/deposit/deposit-2.png" srcset="img/deposit/deposit-2@2x.png 2x, img/deposit/deposit-2@3x.png 3x")
          p Загородной недвижимости
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/deposit/deposit-3.png" srcset="img/deposit/deposit-3@2x.png 2x, img/deposit/deposit-3@3x.png 3x")
          p Коммерческой недвижимости
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/deposit/deposit-4.png" srcset="img/deposit/deposit-4@2x.png 2x, img/deposit/deposit-4@3x.png 3x")
          p Под залог <br> таунхауса