section.deposit.info
  .container
    .row.center-xs
      .col-xs-12
        .heading.heading--conditions
          h2 Кредит под залог любой недвижимости
          p Суммы до<span> 70% </span>от оценки с авансом <span>в день подписания</span> договора. Мы всегда поможем, даже если прописаны дети и пенсионеры, наложен арест или нужна сумма более 15 млн рублей.
  .container--two
    .row.center-xs
      .col-md-3.col-sm-6.col-xs-12
        .info__block.wow.slideInUp(data-wow-offset="70" data-wow-duration="1s")
          img(src="img/deposit/deposit-1.svg")
          p Под залог <br> квартиры
      .col-md-3.col-sm-6.col-xs-12
        .info__block.wow.slideInUp(data-wow-offset="70" data-wow-duration="1.2s")
          img(src="img/deposit/deposit-2.svg")
          p Загородной недвижимости
      .col-md-3.col-sm-6.col-xs-12
        .info__block.wow.slideInUp(data-wow-offset="70" data-wow-duration="1.4s")
          img(src="img/deposit/deposit-3.svg")
          p Коммерческой недвижимости
      .col-md-3.col-sm-6.col-xs-12
        .info__block.wow.slideInUp(data-wow-offset="70" data-wow-duration="1.6s")
          img(src="img/deposit/deposit-4.svg")
          p Под залог <br> таунхауса