section.description#description--block
  #description(data-invert-y="false" data-invert-x="false" relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/description.svg", alt="")
  #description2(relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/description2.svg", alt="")
  #description3(relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/description3.svg", alt="")
  #description4(data-invert-y="false" data-invert-x="false" relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/description4.svg", alt="")
  .container
    .row.center-xs
      .col-xs-12
        .heading.heading--description
          h2 О компании 
          h3 «Кредит 24 Онлайн»
        .description__text
          p За  долгие годы работы на финансовом рынке сложились крепкие и устойчивые партнёрские отношения с Российскими банками и частными инвестиционными компаниями. Всё это позволяет быстро и индивидуально подобрать выгодный кредит под залог недвижимости, рефинансировать кредиты и многое другое.
          p Мы гарантируем прозрачность отношений, повышенную ответственность за результаты, полную безопасность, абсолютную законность всех действий и операций. Мы работаем профессионально. Звоните!