section.description
  .container
    .row.center-xs
      .col-xs-12
        .heading.heading--description
          h2 О компании 
          h3 «Кредит 24 Онлайн»
        .description__text
          p За  долгие годы работы на финансовом рынке сложились крепкие и устойчивые партнёрские отношения с Российскими банками и частными инвестиционными компаниями. Всё это позволяет быстро и индивидуально подобрать выгодный кредит под залог недвижимости, рефинансировать кредиты и многое другое.
          p Мы гарантируем прозрачность отношений, повышенную ответственность за результаты, полную безопасность, абсолютную законность всех действий и операций. Мы работаем профессионально. Звоните!