section.documentation.advantages
  #documentation(data-invert-y="false" data-invert-x="false" relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/leak1.svg", alt="")
  #documentation2(relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/leak2.svg", alt="")
  #documentation3(relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/leak3.svg", alt="")
  #documentation4(data-invert-y="false" data-invert-x="false" relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/leak4.svg", alt="")
  .row
    .col-md-6.col-xs-12.first-md
      .advantages__block.advantages__block--regulation.wow.slideInUp(data-wow-offset="70" data-wow-duration=" 1s")
        img(src="img/advantages/documentation.png" srcset="img/advantages/documentation@2x.png 2x, img/advantages/documentation@3x.png 3x" alt="")
    .col-md-6.col-xs-12.first-xs
      .advantages__block
        .advantages__block__text.advantages__block__text--documentation
          h2 Минимальный пакет документов
          p Для рассмотрения заявки Вам потребуется <br>всего несколько документов:
          p — Паспорт заёмщика
          p — Свидетельство или выписка ЕГРН
          p — Основание собственности
          p — Фотографии недвижимости
          a(href="#consultant" data-pop).btn Обратиться в поддержку