section.documentation.advantages
  .row
    .col-xs-6
      .advantages__block.advantages__block--regulation
        img(src="img/advantages/documentation.png", alt="")
    .col-xs-6
      .advantages__block
        .advantages__block__text.advantages__block__text--documentation
          h2 Минимальный пакет документов
          p Для рассмотрения заявки Вам потребуется <br>всего несколько документов:
          p — Паспорт заёмщика
          p — Свидетельство или выписка ЕГРН
          p — Основание собственности
          p — Фотографии недвижимости
          a(href="#").btn Обратиться в поддержку