section.intro
  .container
    .row.center-xs
      .col-xs-12
        img(src="img/intro/logo.png" srcset="img/intro/logo@2x.png 2x, img/intro/logo@3x.png 3x")
        h1 КРЕДИТ ПОД ЗАЛОГ НЕДВИЖИМОСТИ
        p Поможем в сложных ситуациях.
        p Когда все отказывают, а деньги нужны срочно!
        form
          input(type="text" name="name" placeholder="Имя")
          input(type="tel" name="phone" placeholder="Телефон")
          input(type="number" name="coins" placeholder="Сумма")
          input(type="submit" value="Отправить заявку").btn
          input(type="checkbox" id="checkbox")
          label(for="checkbox") Нажимая на кнопку «Отправить», я даю своё согласие на обработку персональных данных и принимаю условия соглашения.
  .separation
    img(src="img/separation.png" srcset="img/separation@2x.png 2x, img/separation@3x.png 3x")
    img(src="img/separation-two.png" srcset="img/separation-two@2x.png 2x, img/separation-two@3x.png 3x")