section.partners
  .container
    .row
      .col-xs-12.center-xs
        .heading.heading--partners
          h2 Наши партнёры
        .partners__content
          .partners__content__block
            a
              img(src="img/partners/partners-1.png" srcset="img/partners/partners-1@2x.png 2x, img/partners/partners-1@3x.png 3x")
          .partners__content__block
            a
              img(src="img/partners/partners-2.png" srcset="img/partners/partners-2@2x.png 2x, img/partners/partners-2@3x.png 3x")
          .partners__content__block
            a
              img(src="img/partners/partners-3.png" srcset="img/partners/partners-3@2x.png 2x, img/partners/partners-3@3x.png 3x")
          .partners__content__block
            a
              img(src="img/partners/partners-4.png" srcset="img/partners/partners-4@2x.png 2x, img/partners/partners-4@3x.png 3x")
          .partners__content__block
            a
              img(src="img/partners/partners-5.png" srcset="img/partners/partners-5@2x.png 2x, img/partners/partners-5@3x.png 3x")
        .partners__content
          .partners__content__block
            a
              img(src="img/partners/partners-6.png" srcset="img/partners/partners-6@2x.png 2x, img/partners/partners-6@3x.png 3x")
          .partners__content__block
            a
              img(src="img/partners/partners-7.png" srcset="img/partners/partners-7@2x.png 2x, img/partners/partners-7@3x.png 3x")
          .partners__content__block
            a
              img(src="img/partners/partners-8.png" srcset="img/partners/partners-8@2x.png 2x, img/partners/partners-8@3x.png 3x")
