.menu.pop-up
  .row.middle-xs
    .col-xs-12.center-xs
      .menu__close.close
        span
      nav
        ul
          li
            a(href="#") Условия
          li
            a(href="#") Кредитный калькулятор
          li
            a(href="#") Преимущества
          li
            a(href="#") О компании
          li
            a(href="#") Конткты
          li
            a(href="#").btn Заявка на кредит
.bid-1.pop-up
  .row.middle-xs
    .col-xs-12.center-xs
      .bid-1__close.close
        span
      .heading.heading--bid-1
        h2 Заявка на кредит
        p Кредит на <span>3 750 000</span> рублей сроком <span>18</span> лет с процентной ставкой <span>25%</span>.
      form.form.form--pop-up
        input(type="text" name="name" placeholder="Имя")
        input(type="tel" name="phone" placeholder="Телефон")
        input(type="number" placeholder="Телефон")
        input(type="submit" value="Отправить").btn
        input(type="checkbox" id="checkbox-5")
        label(for="checkbox-5") Нажимая на кнопку «Отправить», я даю своё согласие на обработку персональных данных и принимаю
          a(href="#") условия соглашения.
.bid-2.pop-up
  .row.middle-xs
    .col-xs-12.center-xs
      .bid-2__close.close
        span
      .heading
        h2 Заявка на кредит
      form.form.form--pop-up
        input(type="text" name="name" placeholder="Имя")
        input(type="tel" name="phone" placeholder="Телефон")
        input(type="number" placeholder="Телефон")
        input(type="submit" value="Отправить").btn
        input(type="checkbox" id="checkbox-4")
        label(for="checkbox-4") Нажимая на кнопку «Отправить», я даю своё согласие на обработку персональных данных и принимаю
          a(href="#") условия соглашения.
.consultant.pop-up
  .row.middle-xs
    .col-xs-12.center-xs
      .consultant__close.close
        span
      h4 Мы ответим на все вопросы <br>по кредитованию в залог недвижимости.
      form.form.form--pop-up
        input(type="text" name="name" placeholder="Имя")
        input(type="tel" name="phone" placeholder="Телефон")
        input(type="submit" value="Отправить").btn
        input(type="checkbox" id="checkbox-4")
        label(for="checkbox-4") Нажимая на кнопку «Отправить», я даю своё согласие на обработку персональных данных и принимаю
          a(href="#") условия соглашения.

