#menu.pop-up
  .row.middle-xs
    .col-xs-12.center-xs
      .menu__close.close
        span
      nav
        ul
          li
            a(href="#") Условия
          li
            a(href="#") Кредитный калькулятор
          li
            a(href="#") Преимущества
          li
            a(href="#") О компании
          li
            a(href="#") Конткты
          li
            a(href="#").btn Заявка на кредит
#support-1.pop-up
  .row.middle-xs
    .col-xs-12.center-xs
      .bid-1__close.close
        span
      .heading.heading--bid-1
        h2 Заявка на кредит
        p Кредит на <span>3 750 000</span> рублей сроком <span>18</span> лет с процентной ставкой <span>25%</span>.
      form.form.form--pop-up
        .form__name
          input(type="text" name="name" id="user1" required)
          label(for="user1") Имя
        .form__tel
          input(type="tel" name="phone" id="phone1" required)
          label(for="phone1") Телефон
        .form__coins
          input(type="number" name="coins" id="coins1" required)
          label(for="coins1") Сумма
        input(type="submit" value="Отправить").btn
        .form__checkbox
          input(type="checkbox" id="checkbox1")
          label(for="checkbox1") Нажимая на кнопку «Отправить», я даю своё согласие на обработку персональных данных и принимаю
            a(href="#") условия соглашения.
#support-2.pop-up
  .row.middle-xs
    .col-xs-12.center-xs
      .bid-2__close.close
        span
      .heading
        h2 Заявка на кредит
      form.form.form--pop-up
        .form__name
          input(type="text" name="name" id="user2" required)
          label(for="user2") Имя
        .form__tel
          input(type="tel" name="phone" id="phone2" required)
          label(for="phone2") Телефон
        .form__coins
          input(type="number" name="coins" id="coins2" required)
          label(for="coins2") Сумма
        input(type="submit" value="Отправить").btn
        .form__checkbox
          input(type="checkbox" id="checkbox2")
          label(for="checkbox2") Нажимая на кнопку «Отправить», я даю своё согласие на обработку персональных данных и принимаю
            a(href="#") условия соглашения.
#consultant.pop-up
  .row.middle-xs
    .col-xs-12.center-xs
      .consultant__close.close
        span
      h4 Мы ответим на все вопросы <br>по кредитованию в залог недвижимости.
      form.form.form--pop-up
        .form__name
          input(type="text" name="name" id="user3" required)
          label(for="user3") Имя
        .form__tel
          input(type="tel" name="phone" id="phone3" required)
          label(for="phone3") Телефон
        input(type="submit" value="Отправить").btn
        .form__checkbox
          input(type="checkbox" id="checkbox3")
          label(for="checkbox3") Нажимая на кнопку «Отправить», я даю своё согласие на обработку персональных данных и принимаю
            a(href="#") условия соглашения.

