section.regulation.advantages
  .row
    .col-xs-6
      .advantages__block.advantages__block--regulation
        img(src="img/advantages/regulation.png", alt="")
    .col-xs-6
      .advantages__block
        .advantages__block__text
          h2 Регулируем по кредитной истории
          p В обычной ситуации  банки могут отказать Вам в выдаче кредита из-за наличия неоплаченных кредитов или по причине плохой кредитной истории. Мы легко разберёмся с этой проблемой!
          a(href="#").btn Обратиться в поддержку



