section.regulation.advantages
  #regulation(data-invert-y="false" data-invert-x="false" relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/regulation.svg", alt="")
  #regulation2(relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/regulation2.svg", alt="")
  #regulation3(relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/regulation3.svg", alt="")
  #regulation4(data-invert-y="false" data-invert-x="false" relativeInput="true")
    div(data-depth="1")
      img(src="img/parallax/regulation4.svg", alt="")
  .row
    .col-md-6.col-xs-12.first-md
      .advantages__block.advantages__block--regulation.wow.slideInUp(data-wow-offset="70" data-wow-duration=" 1s")
        img(src="img/advantages/regulation.png", srcset="img/advantages/regulation@2x.png 2x, img/advantages/regulation@3x.png 3x", alt="")
    .col-md-6.col-xs-12.first-xs
      .advantages__block
        .advantages__block__text
          h2 Регулируем по кредитной истории
          p В обычной ситуации  банки могут отказать Вам в выдаче кредита из-за наличия неоплаченных кредитов или по причине плохой кредитной истории. Мы легко разберёмся с этой проблемой!
          a(href="#consultant" data-pop).btn Обратиться в поддержку



