section.step.info
  .container
    .row.center-xs
      .col-xs-12
        .heading.heading--step
          h2 четыре шага к деньгам
  .container--two
    .row.center-xs
      .col-md-3.col-sm-6.col-xs-12
        .info__block.wow.slideInUp(data-wow-offset="70" data-wow-duration="1s")
          img(src="img/1.svg")
          p Заявка
          p Отправьте заявку или позвоните. Мы проконсультируем Вас и обговорим все условия.
      .col-md-3.col-sm-6.col-xs-12
        .info__block.wow.slideInUp(data-wow-offset="70" data-wow-duration="1s")
          img(src="img/2.svg")
          p Подготовка
          p Подготовим все необходимые документы. Поможем собрать недостающие.
      .col-md-3.col-sm-6.col-xs-12
        .info__block.wow.slideInUp(data-wow-offset="70" data-wow-duration="1s")
          img(src="img/3.svg")
          p Подписание
          p Подписываем договор займа и направляем документы на регистрацию.
      .col-md-3.col-sm-6.col-xs-12
        .info__block.wow.slideInUp(data-wow-offset="70" data-wow-duration="1s")
          img(src="img/4.svg")
          p Выдача денег
          p Банк регистрирует договор и подготавливает сумму. Вы приезжаете за деньгами.
  .container
    .row.center-xs
      .col-xs-12
        form.form
          .form__name
            input(type="text" name="name" id="user4" required)
            label(for="user4") Имя
          .form__tel
            input(type="tel" name="phone" id="phone4" required)
            label(for="phone4") Телефон
          .form__coins
            input(type="number" name="coins" id="coins4")
            label(for="coins4") Сумма
          input(type="submit" value="Отправить заявку").btn
          .form__checkbox
            input(type="checkbox" id="checkbox4")
            label(for="checkbox4" checked) Нажимая на кнопку «Отправить», я даю своё согласие на обработку персональных данных и принимаю
              a(href="#") условия соглашения.
