section.step.info
  .container
    .row.center-xs
      .col-xs-12
        .heading.heading--step
          h2 четыре шага к деньгам
  .container--two
    .row.center-xs
      .col-xs-3
        .info__block
          img(src="img/conditions/conditions-1.png" srcset="img/conditions/conditions-1@2x.png 2x, img/conditions/conditions-1@3x.png 3x")
          p Заявка
          p Отправьте заявку или позвоните. Мы проконсультируем Вас и обговорим все условия.
      .col-xs-3
        .info__block
          img(src="img/conditions/conditions-2.png" srcset="img/conditions/conditions-2@2x.png 2x, img/conditions/conditions-2@3x.png 3x")
          p Подготовка
          p Подготовим все необходимые документы. Поможем собрать недостающие.
      .col-xs-3
        .info__block
          img(src="img/conditions/conditions-3.png" srcset="img/conditions/conditions-3@2x.png 2x, img/conditions/conditions-3@3x.png 3x")
          p Подписание
          p Подписываем договор займа и направляем документы на регистрацию.
      .col-xs-3
        .info__block
          img(src="img/conditions/conditions-4.png" srcset="img/conditions/conditions-4@2x.png 2x, img/conditions/conditions-4@3x.png 3x")
          p Выдача денег
          p Банк регистрирует договор и подготавливает сумму. Вы приезжаете за деньгами.
  .container
    .row.center-xs
      .col-xs-12
        form
          input(type="text" name="name" placeholder="Имя")
          input(type="tel" name="phone" placeholder="Телефон")
          input(type="number" name="coins" placeholder="Сумма")
          input(type="submit" value="Отправить заявку").btn
          input(type="checkbox" id="checkbox-2")
          label(for="checkbox-2") Нажимая на кнопку «Отправить», я даю своё согласие на обработку персональных данных и принимаю
            a(href="#") условия соглашения.
