section.step.info
  .container
    .row.center-xs
      .col-xs-12
        .heading.heading--step
          h2 четыре шага к деньгам
  .container--two
    .row.center-xs
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/conditions/conditions-1.png" srcset="img/conditions/conditions-1@2x.png 2x, img/conditions/conditions-1@3x.png 3x")
          p Заявка
          p Отправьте заявку или позвоните. Мы проконсультируем Вас и обговорим все условия.
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/conditions/conditions-2.png" srcset="img/conditions/conditions-2@2x.png 2x, img/conditions/conditions-2@3x.png 3x")
          p Подготовка
          p Подготовим все необходимые документы. Поможем собрать недостающие.
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/conditions/conditions-3.png" srcset="img/conditions/conditions-3@2x.png 2x, img/conditions/conditions-3@3x.png 3x")
          p Подписание
          p Подписываем договор займа и направляем документы на регистрацию.
      .col-md-3.col-sm-6.col-xs-12
        .info__block
          img(src="img/conditions/conditions-4.png" srcset="img/conditions/conditions-4@2x.png 2x, img/conditions/conditions-4@3x.png 3x")
          p Выдача денег
          p Банк регистрирует договор и подготавливает сумму. Вы приезжаете за деньгами.
  .container
    .row.center-xs
      .col-xs-12
        form.form
          .form__name
            input(type="text" name="name" id="user4" required)
            label(for="user4") Имя
          .form__tel
            input(type="tel" name="phone" id="phone4" required)
            label(for="phone4") Телефон
          .form__coins
            input(type="number" name="coins" id="coins4" required)
            label(for="coins4") Сумма
          input(type="submit" value="Отправить заявку").btn
          .form__checkbox
            input(type="checkbox" id="checkbox4")
            label(for="checkbox4") Нажимая на кнопку «Отправить», я даю своё согласие на обработку персональных данных и принимаю
              a(href="#") условия соглашения.
